node_modules/
.env
.venv/
.vscode/

# Logs
logs/combined.log
logs/error.log
logs/image/*
!logs/image/.gitkeep

# Storage - ignore contents
storage/**/*

# Keep folder structure
!storage/**/
!storage/**/.gitkeep