node_modules/
.env
.venv/
.vscode/
logs/combined.log
logs/error.log
logs/image/*
storage/recordings/*
storage/transcripts/*
storage/cache_audio_transcripts/*
storage/cache_audits/*
storage/cache_captions_raw/*
storage/cache_chat_logs/*
storage/cache_diarization/*
storage/cache_embeddings/*
storage/cache_llm_prompts/*
storage/cache_screenshots/*
storage/cache_topic_trackers/*
storage/cache_voice_activity/*
storage/cache_voiceprints/*
storage/cache_wav_audio/*
storage/cache_whisper/*
storage/chrome-profiles/*
storage/intel/*
storage/summaries/*